*{
	padding: 0;
	margin: 0;
}

.wrapper{
	width: 500px;
	height: 540px;
	margin: 0 auto;
	position: relative;
}

.div{
	background: orange;
	width: 150px;
	margin: 8px;
	padding-bottom: 150px;
	float: left;
	border-radius: 10px;
}
input{
	display: block;
	height: 30px;
	width: 100px;
	line-height: 30px;
	position: absolute;
	bottom: 0;
	color: lightcoral;
	background-color: white;
    /*border: none;*/
    border-radius: 10px;
    border: 1px solid lightcoral;
}
input:hover{
	background: lightcoral;
	color: white;
	cursor: pointer;
}

.start{
	left: 20%;
}




.stop{
	right: 20%;
}
